Calendar agent.json
{
  "name": "Calendar agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        0
      ],
      "id": "8535fc99-71d2-4e49-89f9-48e61b0b05c1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=The current date and time is {{ $now.toString() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        160,
        0
      ],
      "id": "c7b2d359-2e09-4315-9882-cdd9cffd2c97",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        96,
        224
      ],
      "id": "00a3a218-619e-4173-9456-7378a6cbdf9a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nZwNcWQuDyu7SR95",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "nimisha23bcd4@iiitkottayam.ac.in",
          "mode": "list",
          "cachedResultName": "nimisha23bcd4@iiitkottayam.ac.in"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "id": "ce425280-1634-4cb8-803d-836d4d251349",
      "name": "create",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0QSXieIgS7nZ9PP7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "nimisha23bcd4@iiitkottayam.ac.in",
          "mode": "list",
          "cachedResultName": "nimisha23bcd4@iiitkottayam.ac.in"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "6ad71471-c2d0-48fa-99f8-e43ee04cc6bb",
      "name": "create1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0QSXieIgS7nZ9PP7",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "What does m calendar look like on 1st March"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "create": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "c2bba9b1-238e-492b-900f-1bfc73dadae5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9eb881b2a7e8bee3e23c5799d4aabf19569f7c3c35424a7931f509ce5d4695ab"
  },
  "id": "ozIKrbwF27F1nVNM",
  "tags": []
}